<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"lumina-blocks/beliefs-intro"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/beliefs-sacrament"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/beliefs-ancient"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/beliefs-sacred"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/beliefs-cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
