<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"lumina-blocks/about-intro"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/about-marco"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/about-ash"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/about-different"} /-->

<!-- wp:pattern {"slug":"lumina-blocks/about-cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
